{
  "project_info": {
    "project_number": "347645652104",
    "firebase_url": "https://elevate-d8501-default-rtdb.firebaseio.com",
    "project_id": "elevate-d8501",
    "storage_bucket": "elevate-d8501.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:347645652104:android:40ceb8c841c96b8b0b433d",
        "android_client_info": {
          "package_name": "com.bbnfcdevhub.app"
        }
      },
      "oauth_client": [
        {
          "client_id": "347645652104-ddofad7evpjcs28gtoa1qmk0n1uc9n5q.apps.googleusercontent.com",
          "client_type": 1,
          "android_info": {
            "package_name": "com.bbnfcdevhub.app",
            "certificate_hash": "f4f7a11ce277951ff5d7c6d3277c4a31b2ced5c5"
          }
        },
        {
          "client_id": "347645652104-9kteol5djj8i0cnqgtfo6pvu066o6h57.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "AIzaSyAqERvGZCwNZgyOI22HK31OQBZdGTGNyiI"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "347645652104-9kteol5djj8i0cnqgtfo6pvu066o6h57.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}